.must {
    color: red;
}

.todo-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid black;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modify {
    background-color: rgb(61, 60, 60);
    color: snow;
    position: absolute;
    right: 10%;
    top: 35%;
}